{% extends 'layout.html' %}

{% block content %}
<div align="center">

    <br><br>
    <form action="" method="GET">
        <div>
            <p>
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#a"
                    aria-expanded="false" aria-controls="a">
                    คณะวิศวกรรมศาสตร์
                </button>
            </p>
            <div class="collapse" id="a">
                <div class="">
                    <a href="/list/คณะวิศวกรรมศาสตร์/วิศวกรรมไฟฟ้า" type="button" class="btn btn-info"> วิศวกรรมไฟฟ้า
                    </a>
                    <a href="/list/คณะวิศวกรรมศาสตร์/วิศวกรรมโยธา" type="button" class="btn btn-info"> วิศวกรรมโยธา
                    </a>
                    <a href="/list/คณะวิศวกรรมศาสตร์/วิศวกรรมอิเล็กทรอนิกส์ฯ" type="button" class="btn btn-info">
                        วิศวกรรมอิเล็กทรอนิกส์ฯ </a>
                </div>
                <div class=" "><br>
                    <a href="/list/คณะวิศวกรรมศาสตร์/วิศวกรรมคอมพิวเตอร์" type="button" class="btn btn-info">
                        วิศวกรรมคอมพิวเตอร์ </a>
                    <a href="/list/คณะวิศวกรรมศาสตร์/วิศวกรรมเมคคาทรอนิกส์" type="button" class="btn btn-info">
                        วิศวกรรมเมคคาทรอนิกส์ </a> <br><br>
                    <a href="/list/คณะวิศวกรรมศาสตร์/eวิศวกรรมเครื่องกลng" type="button" class="btn btn-info">
                        วิศวกรรมเครื่องกล </a>
                </div>
                <div class=" "><br>
                    <a href="/list/คณะวิศวกรรมศาสตร์/วิศวกรรมเครื่องจักรกลเกษตร" type="button" class="btn btn-info">
                        วิศวกรรมเครื่องจักรกลเกษตร </a>
                    <a href="/list/คณะวิศวกรรมศาสตร์/วิศวกรรมอาหารและชีวภาพ" type="button" class="btn btn-info">
                        วิศวกรรมอาหารและชีวภาพ </a> <br><br>
                    <a href="/list/คณะวิศวกรรมศาสตร์/วิศวกรรมอุตสาหการ" type="button" class="btn btn-info">
                        วิศวกรรมอุตสาหการ </a>
                </div>
                <div class=""><br>
                    <a href="/list/คณะวิศวกรรมศาสตร์/วิศวกรรมโลหการ" type="button" class="btn btn-info"> วิศวกรรมโลหการ
                    </a>
                    <a href="/list/คณะวิศวกรรมศาสตร์/สาขาวิชาเคมี" type="button" class="btn btn-info"> สาขาวิชาเคมี </a>
                    <a href="/list/คณะวิศวกรรมศาสตร์/สาขาวิชาฟิสิกส์ประยุกต์" type="button" class="btn btn-info">
                        สาขาวิชาฟิสิกส์ประยุกต์ </a>
                </div>
                <div class=" "><br>
                    <a href="/list/คณะวิศวกรรมศาสตร์/สาขาวิชาคณิตศาสตร์" type="button" class="btn btn-info">
                        สาขาวิชาคณิตศาสตร์ </a>
                    <a href="/list/คณะวิศวกรรมศาสตร์/สาขาวิชาสถิติประยุกต์" type="button" class="btn btn-info">
                        สาขาวิชาสถิติประยุกต์ </a>
                </div>
            </div>




            <br>
            <p>
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#b"
                    aria-expanded="false" aria-controls="b">
                    คณะครุศาสตร์
                </button>
            </p>
            <div class="collapse" id="b">
                <div class=" ">
                    <a href="/list/คณะครุศาสตร์/ครุศาสตร์อุตสาหกรรมอุตสาหการ" type="button" class="btn btn-info">
                        ครุศาสตร์อุตสาหกรรมอุตสาหการ </a> <br><br>
                    <a href="/list/คณะครุศาสตร์/ครุศาสตร์อุตสาหกรรมอิเล็กทรอนิกส์" type="button" class="btn btn-info">
                        ครุศาสตร์อุตสาหกรรมอิเล็กทรอนิกส์ </a> <br><br>
                    <a href="/list/คณะครุศาสตร์/ครุศาสตร์อุตสาหกรรมเครื่องกล" type="button" class="btn btn-info">
                        ครุศาสตร์อุตสาหกรรมเครื่องกล </a> <br><br>
                </div>
                <div class=" ">

                    <a href="/list/คณะครุศาสตร์/ครุศาสตร์อุตสาหกรรมคอมพิวเตอร์" type="button" class="btn btn-info">
                        ครุศาสตร์อุตสาหกรรมคอมพิวเตอร์ </a> <br><br>
                    <a href="/list/คณะครุศาสตร์/ครุศาสตร์อุตสาหกรรมโยธา" type="button" class="btn btn-info">
                        ครุศาสตร์อุตสาหกรรมโยธา </a>
                    <a href="/list/คณะครุศาสตร์/ครุศาสตร์อุตสาหกรรมไฟฟ้า" type="button" class="btn btn-info">
                        ครุศาสตร์อุตสาหกรรมไฟฟ้า </a> <br><br>
                </div>
                <div class=" ">
                    <a href="/list/คณะครุศาสตร์/ครุศาสตร์อุตสาหการเชื่อมประกอบ" type="button" class="btn btn-info">
                        ครุศาสตร์อุตสาหการเชื่อมประกอบ </a>
                    <a href="/list/คณะครุศาสตร์/เทคโนโลยีท่ออุตสาหกรรม" type="button" class="btn btn-info">
                        เทคโนโลยีท่ออุตสาหกรรม </a> <br><br>
                    <a href="/list/คณะครุศาสตร์/ศิลปศาสตร์" type="button" class="btn btn-info"> ศิลปศาสตร์
                        (ภาษาอังกฤษเพื่อการสื่อสารสากล)
                    </a><br><br>
                </div>
                <div class=" ">
                    <a href="/list/คณะครุศาสตร์/สังคมศาสตร์" type="button" class="btn btn-info"> สังคมศาสตร์ </a>

                    <a href="/list/คณะครุศาสตร์/พลศึกษาและนันทนาการ" type="button" class="btn btn-info">
                        พลศึกษาและนันทนาการ </a>
                    <a href="/list/คณะครุศาสตร์/ภาษาไทย" type="button" class="btn btn-info"> ภาษาไทย </a><br><br>
                </div>
                <div class=" ">
                    <a href="/list/คณะครุศาสตร์/มนุษยศาสตร์" type="button" class="btn btn-info"> มนุษยศาสตร์ </a>
                </div>
            </div>






            <br>
            <p>
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#c"
                    aria-expanded="false" aria-controls="c">
                    คณะบริหารธุรกิจและเทคโนโลยีสารสนเทศ
                </button>
            </p>
            <div class="collapse" id="c">
                <div class=" ">
                    <a href="/list/คณะบริหารธุรกิจและเทคโนโลยีสารสนเทศ/สาขาวิชาการบัญชี" type="button"
                        class="btn btn-info"> สาขาวิชาการบัญชี </a>
                    <a href="/list/คณะบริหารธุรกิจและเทคโนโลยีสารสนเทศ/สาขาวิชาการจัดการ" type="button"
                        class="btn btn-info"> สาขาวิชาการจัดการ </a>
                    <a href="/list/คณะบริหารธุรกิจและเทคโนโลยีสารสนเทศ/สาขาวิชาการตลาด" type="button"
                        class="btn btn-info"> สาขาวิชาการตลาด </a> <br> <br>
                </div>
                <div class=" ">
                    <a href="/list/คณะบริหารธุรกิจและเทคโนโลยีสารสนเทศ/สาขาวิชาระบบสารสนเทศ" type="button"
                        class="btn btn-info"> สาขาวิชาระบบสารสนเทศ </a>
                    <a href="/list/คณะบริหารธุรกิจและเทคโนโลยีสารสนเทศ/สาขาวิชาการจัดการโลจิสติกส์" type="button"
                        class="btn btn-info"> สาขาวิชาการจัดการโลจิสติกส์ </a> <br> <br>
                </div>
                <div class=" ">
                    <a href="/list/คณะบริหารธุรกิจและเทคโนโลยีสารสนเทศ/สาขาวิชาการจัดการการท่องเที่ยวและการบริการ"
                        type="button" class="btn btn-info">
                        สาขาวิชาการจัดการการท่องเที่ยวและการบริการ
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}