* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



bg-light {
    background-color: #f8f9fa!important;
}
 

.main-body {  
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; 
    justify-content: center;  
}

.main {
    display: block;
    width: 432px;
    height: 340px;
    margin: 25px 75px;
    border-radius: 50px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    position: relative; 
    box-sizing: border-box;  
}
 

.pf, #img1 {
    position: absolute;
    top: 55px;
    left: 50%;
    width: 90px;
    height: 90px;
    transform: translateX(-50%);
    border-radius: 50%;
}

.img img {
    height: 160px;
    width: 432px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
 
.content {
    margin: 35px 0px 0px 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding: 1rem;
    
}

.content p {
    color: #8d8d8d;
    font-size: 16px;
}

/* youtuber perspective */
.box-item {
    display: block;
    width: 432px;
    height: 290px;
    margin: 25px 75px;
    border-radius: 50px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box; 
    position: relative;
    background-color: rgb(160, 160, 161);
}

.box-item img {
    margin: 1rem;
    height: 130px;
    width: 130px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.item {
    margin: auto;
}

.name {
    position: absolute;
    z-index: 999;
    top: 25px;
    left: 200px;
}

.details {
    height: 80px;
    margin-left: 1rem; 
}

.footer {
    display: flex; 
    align-items: center;
    padding: 0px 17px;
    padding-top: 5px;
    justify-content: space-between;
    border-top:2px solid rgb(70, 69, 69); 
}




@media screen and (max-width: 1280px) {
    .main{
        margin-left: 45px;
        margin-right: 45px;
    }
    .box-item{
        margin-left: 45px;
        margin-right: 45px;
    }
}
@media screen and (max-width: 1080px) {
    .main{
        margin-left: 10px;
        margin-right: 10px;
    }
    .box-item{
        margin-left: 10px;
        margin-right: 10px;
    }
}