{% extends 'layout.html' %}

{% block head %}

{% endblock %}

{% block content %}



<div align="center">
    <div style="width:700px">
        <div style="margin-top:60px; margin-left:130px; text-align:left">
            <h4> .: {{programing.0.7}} :.</h4>
            <h2>{{programing.0.8}}</h2>
        </div>

        <div style="margin-top:20px; text-align:left">
            <div>
                <br>

                <div id="flash"></div>
                <ol id="insert_search" class="update">
                    {% for info in programing %}
                    <li><a href="/p/{{info.0}}">{{info.2}} {{info.3}}</a><br />
                        <span style='font-size:12px;'>{{info.8}} / <b>{{info.7}}</b></span>
                    </li>
                    {% endfor %}

                </ol>

            </div>
        </div>
    </div>


    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        a {
            color: #fe6f41;
            text-decoration: none
        }

        a:hover {
            color: #9a0bec;
            text-decoration: underline;
        }



        ol.update {
            list-style: none;
            font-size: 1.1em;
            margin-top: 20px;
            padding-left: 0;
        }

        #flash {
            margin-top: 20px;
            text-align: left;
        }



        ol.update li {
            border-bottom: #dedede dashed 1px;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        ol.update li:first-child {
            border-top: #dedede dashed 1px;
            text-align: left
        }
    </style>

    {% endblock %}