{% extends 'layout.html' %}
{% block title %} แนะนำ {% endblock %}

{% block content %}


{% if session['role'] == "youtuber" %}
<br>
<h2>Partner ที่คณอาจกำลังมองหา</h2><br>

{% else %}
<br>
<h2>Youtuber ที่น่าจับตามอง</h2><br>

{% endif %}

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/Recommended.css')}}">
</head>

<div class="main-body">
    {% set count = namespace(value=0) %}
    {% for data in datas %}

    {% if session['role'] == "youtuber" %}

    <!-- นามบัตรบริษัท -->
    <div class="box-item">
        <img src="/static/uploads/{{data.id}}/{{data.pic}}" alt="pic" ">
        <div class=" item">
        <div class="name">
            <h1>{{data.fullname}}</h1>
            <p>ประเภท</p>
        </div>
        <div class="details">
            <p>{{data.desc}}</p>
        </div>
        <div class="footer">
            <div class="foot-l">
                <nan>เรทราคา : {{data.pay_rate}}</p>
            </div>
            <div class="footer-r">
                <p>Email : {{data.email}} </p>
            </div>
        </div>
    </div>
</div>



{% else %}


<div class="main">
    <div class="pf">
        <a href="/visit/{{data.id}}"> <img id="img1" src="{{data['pic']}}"></a>
    </div>
    <div class="img">
        <!-- ปก -->
        <img
            src="https://c4.wallpaperflare.com/wallpaper/129/699/632/arma-3-soldiers-machine-building-ladder-wallpaper-preview.jpg">
    </div>
    <div class="content">
        <h4>{{data.fullname}}</h4>
        <p>{{data.desc}}</p>
    </div>

</div>








{% endif %}



<br><br>
{% set count.value = count.value + 1 %}
{% endfor %}
</div>
{% endblock %}