{% extends 'layout.html' %}
{% block title %} ค้นหา {% endblock %}

{% block content %}

<style>

.butt {
    background: #d62828;
    color: white;
}

</style>


<br><br>
<div class="container">
    <div align="center">
        <div style="width:500px">
            <div style="margin-top:20px; text-align:left">
                <p align="center">
                    <br>
                <h1>ค้นหารายชื่อ</h1>
                </p>
                <form action="/search/profile" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="search"><br>

                        <button type="submit" class="btn butt" id="send">ค้นหาราชื่อ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}