{% extends 'layout.html' %}
{% block title %} ค้นหา {% endblock %}

{% block content %}
<style>
    .pf {
        vertical-align: middle;
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
</style>
<br><br><br><br><br><br>

<div class="container"> 

{%for data in datas%}
 
{% if session['role'] == "youtuber" %} 
<img src="/static/uploads/{{data['id']}}/{{data['pic']}}" class="pf">
<br><br>   
{% else %}
<img src="{{data['pic']}}" alt="pic" style="max-width: 10%">
<br><br>
{%endif%}


<a href="/visit/{{data['id']}}">{{data["fullname"]}} / {{data["id"]}}</a>

<br><br>
 
{% endfor %}

</div>
{% endblock %}