{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='checkbox.css')}}">{% endblock %}
{% block title %} ค้นหา {% endblock %}

{% block content %}
<br>
<h2 align='center'>เลือกประเภทของช่องคณ</h2>


<div id="app-cover">
    <div class="row">
        <div class="toggle-button-cover">
            <h4> ตลก</h4>
            <div class="button-cover">
                <div class="button r" id="button-8">
                    <input type="checkbox" class="checkbox" checked>
                    <div class="knobs">
                        <span></span>
                    </div>
                    <div class="layer"></div>
                </div>
            </div>
        </div>
        <div class="toggle-button-cover">
            <h4> ครอบครัว</h4>
            <div class="button-cover">
                <div class="button r" id="button-8">
                    <input type="checkbox" class="checkbox">
                    <div class="knobs">
                        <span></span>
                    </div>
                    <div class="layer"></div>
                </div>
            </div>
        </div>
        <div class="toggle-button-cover">
            <h4>ให้ความร้</h4>
            <div class="button-cover">
                <div class="button r" id="button-8">
                    <input type="checkbox" class="checkbox">
                    <div class="knobs">
                        <span></span>
                    </div>
                    <div class="layer"></div>
                </div>
            </div>
        </div>

    </div><br>
    <div class="row">
        <div class="toggle-button-cover">
            <h4>ไลฟ์สไตล์</h4>
            <div class="button-cover">
                <div class="button r" id="button-8">
                    <input type="checkbox" class="checkbox">
                    <div class="knobs">
                        <span></span>
                    </div>
                    <div class="layer"></div>
                </div>
            </div>
        </div>
        <div class="toggle-button-cover">
            <h4>ท่องเที่ยว</h4>
            <div class="button-cover">
                <div class="button r" id="button-8">
                    <input type="checkbox" class="checkbox">
                    <div class="knobs">
                        <span></span>
                    </div>
                    <div class="layer"></div>
                </div>
            </div>
        </div>
        <div class="toggle-button-cover">
            <h4>สำหรับเด็ก</h4>
            <div class="button-cover">
                <div class="button r" id="button-8">
                    <input type="checkbox" class="checkbox">
                    <div class="knobs">
                        <span></span>
                    </div>
                    <div class="layer"></div>
                </div>
            </div>
        </div>

    </div><br>
    <div class="row">
        <div class="toggle-button-cover">
            <h4>รีวิว</h4>
            <div class="button-cover">
                <div class="button r" id="button-8">
                    <input type="checkbox" class="checkbox">
                    <div class="knobs">
                        <span></span>
                    </div>
                    <div class="layer"></div>
                </div>
            </div>
        </div>
        <div class="toggle-button-cover">
            <h4>เทคโนโลยี</h4>
            <div class="button-cover">
                <div class="button r" id="button-8">
                    <input type="checkbox" class="checkbox">
                    <div class="knobs">
                        <span></span>
                    </div>
                    <div class="layer"></div>
                </div>
            </div>
        </div>
        <div class="toggle-button-cover">
            <h4>หนัง</h4>
            <div class="button-cover">
                <div class="button r" id="button-8">
                    <input type="checkbox" class="checkbox">
                    <div class="knobs">
                        <span></span>
                    </div>
                    <div class="layer"></div>
                </div>
            </div>
        </div>

    </div><br>
    <div class="row">
        <div class="toggle-button-cover">
            <h4>ASMR</h4>
            <div class="button-cover">
                <div class="button r" id="button-8">
                    <input type="checkbox" class="checkbox">
                    <div class="knobs">
                        <span></span>
                    </div>
                    <div class="layer"></div>
                </div>
            </div>
        </div>
        <div class="toggle-button-cover">
            <h4>อาหาร</h4>
            <div class="button-cover">
                <div class="button r" id="button-8">
                    <input type="checkbox" class="checkbox">
                    <div class="knobs">
                        <span></span>
                    </div>
                    <div class="layer"></div>
                </div>
            </div>
        </div>
        <div class="toggle-button-cover">
            <h4>เกม</h4>
            <div class="button-cover">
                <div class="button r" id="button-8">
                    <input type="checkbox" class="checkbox">
                    <div class="knobs">
                        <span></span>
                    </div>
                    <div class="layer"></div>
                </div>
            </div>
        </div>

    </div><br>
    <div class="row">
        <div class="toggle-button-cover">
            <h4>กีฬา</h4>
            <div class="button-cover">
                <div class="button r" id="button-8">
                    <input type="checkbox" class="checkbox">
                    <div class="knobs">
                        <span></span>
                    </div>
                    <div class="layer"></div>
                </div>
            </div>
        </div>
        <div class="toggle-button-cover">
            <h4>ความสวยงาม</h4>
            <div class="button-cover">
                <div class="button r" id="button-8">
                    <input type="checkbox" class="checkbox">
                    <div class="knobs">
                        <span></span>
                    </div>
                    <div class="layer"></div>
                </div>
            </div>
        </div>
        <div class="toggle-button-cover">
            <h4>สิ่งประดิษฐ์</h4>
            <div class="button-cover">
                <div class="button r" id="button-8">
                    <input type="checkbox" class="checkbox">
                    <div class="knobs">
                        <span></span>
                    </div>
                    <div class="layer"></div>
                </div>
            </div>
        </div>

    </div>

</div>


{% endblock %}