{% extends 'layout.html' %}

{% block head %} {% endblock %}

{% block content %}
<br>
<div align="center" class="rounded mx-auto d-block">

</div>




<br>
<div class="container">


    <table class="table table-bordered">

        <body>
            <tr>
                <th>ช่อง</th>

                <th>
                    <div id="titleChannel"></div>
                </th>

            </tr>
        </body>

        <body>
            <tr>
                <td>ประเภท</td>
                <td> </td>
            </tr>
        </body>

        <body>
            <tr>
                <td>มียอดผติดตาม</td>
                <td>
                    <div id="subscriberCount"></div>
                </td>
            </tr>
        </body>

        <body>
            <tr>
                <td>ยอดเข้าชมทั้งหมด</td>
                <td>
                    <div id="viewCount"></div>
                </td>
            </tr>
        </body>

        <body>
            <tr>
                <td>จำนวนคลิปในช่อง</td>
                <td>
                    <div id="videoCount"></div>
                </td>
            </tr>
        </body>

        <body>
            <tr>
                <td>E-mail</td>
                <td> </td>
            </tr>
        </body>

        <tbody>
            <tr>
                <td>เรทการว่าจ้าง</td>
                <td> </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>ช่องสร้างเมื่อ</td>
                <td>
                    <div id="publishedAt"></div>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>ประเทศ</td>
                <td>
                    <div id="lang"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br><br>




<script>
    function commas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }



    var APIKey = 'AIzaSyChexdcc_Ucu8qQUlFZyXDbhfiiCIFfS-A';
    var Userid = 'UC0BletW9phE4xHFM44q4qKA';
    var titleChannel = document.getElementById('titleChannel');
    var subscriberCount = document.getElementById('subscriberCount');
    var viewCount = document.getElementById('viewCount');
    var videoCount = document.getElementById('videoCount');
    var publishedAt = document.getElementById('publishedAt');
    var lang = document.getElementById('lang');
    var picChannel = document.getElementById('picChannel');

    let getdata = () => {
        fetch(`https://www.googleapis.com/youtube/v3/channels?part=statistics,snippet&id=${Userid}&key=${APIKey}`)
            .then(response => {
                return response.json()
            })
            .then(data => {
                console.log(data);
                titleChannel.innerHTML = data["items"][0].snippet.localized.title;
                subscriberCount.innerHTML = commas(data["items"][0].statistics.subscriberCount);
                viewCount.innerHTML = commas(data["items"][0].statistics.viewCount);
                videoCount.innerHTML = commas(data["items"][0].statistics.videoCount);
                publishedAt.innerHTML = data["items"][0].snippet.publishedAt;
                lang.innerHTML = data["items"][0].snippet.country;
                picChannel.innerHTML = data["items"][0].snippet.thumbnails.high.url;




            })
    }
    
    getdata();

</script>

{% endblock %}