{% extends 'layout.html' %}

{% block head %} {% endblock %}

{% block content %}
<br>
<div align="center" class="rounded mx-auto d-block">
    <img src="{{APIs.6}}" alt="pic" style="max-width: 10%">
</div>

<br>
<div class="container">

    <table class="table table-bordered">

        <body>
            <tr>
                <th>ช่อง</th>

                <th>
                    {{APIs.0}}
                </th>

            </tr>
        </body>

        <body>
            <tr>
                <td>ประเภท</td>
                <td>

                </td>
            </tr>
        </body>

        <body>
            <tr>
                <td>มียอดผติดตาม</td>
                <td>
                    {{APIs.1}}
                </td>
            </tr>
        </body>

        <body>
            <tr>
                <td>ยอดเข้าชมทั้งหมด</td>
                <td>
                    {{APIs.2}}
                </td>
            </tr>
        </body>

        <body>
            <tr>
                <td>จำนวนคลิปในช่อง</td>
                <td>
                    {{APIs.3}}
                </td>
            </tr>
        </body>

        <body>
            <tr>
                <td>E-mail</td>
                <td> </td>
            </tr>
        </body>

        <tbody>
            <tr>
                <td>เรทการว่าจ้าง</td>
                <td> </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>ช่องสร้างเมื่อ</td>
                <td>
                    {{APIs.4}}
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>ประเทศ</td>
                <td>
                    {{APIs.5}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br><br>


{% endblock %}